# This formula is produced by scripts/homebrew-formula.sh from the
# release archives. The placeholders take the version and the checksums of
# the archives that were published.
class Zeroturn < Formula
  desc "Know when a coding session is under pressure, keep routine work local"
  homepage "https://github.com/cris-wendler/zeroturn"
  version "@VERSION@"
  license "GPL-3.0-only"

  on_macos do
    on_arm do
      url "https://github.com/cris-wendler/zeroturn/releases/download/v@VERSION@/zeroturn_@VERSION@_darwin_arm64.tar.gz"
      sha256 "@SHA_DARWIN_ARM64@"
    end
    on_intel do
      url "https://github.com/cris-wendler/zeroturn/releases/download/v@VERSION@/zeroturn_@VERSION@_darwin_amd64.tar.gz"
      sha256 "@SHA_DARWIN_AMD64@"
    end
  end

  on_linux do
    on_arm do
      url "https://github.com/cris-wendler/zeroturn/releases/download/v@VERSION@/zeroturn_@VERSION@_linux_arm64.tar.gz"
      sha256 "@SHA_LINUX_ARM64@"
    end
    on_intel do
      url "https://github.com/cris-wendler/zeroturn/releases/download/v@VERSION@/zeroturn_@VERSION@_linux_amd64.tar.gz"
      sha256 "@SHA_LINUX_AMD64@"
    end
  end

  def install
    bin.install "zeroturn"
  end

  test do
    assert_match "zeroturn #{version}", shell_output("#{bin}/zeroturn version")
    assert_match "\"product\": \"zeroturn\"", shell_output("#{bin}/zeroturn capabilities --json")
  end
end
